.page.theme_dark {
  --main-color: #000028;
  --accent-color: #ff0070;
  --primary-color: #f1b2ce;
  --title-color: #db00ff;
  --off-title-color: #ff0070;
  --accent-color-hover: #ff007066;
  --visibility-item: 1;
  --background-img: url(../images/cover-image-dark.png);
}
