.page.theme_light {
  --background-img: url(../images/cover-image-light.png);
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --primary-color: #353430;
  --title-color: #ffc2e6;
  --off-title-color: #353430;
  --visibility-item: 0;
  --accent-color-hover: #35343066;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --primary-color: #353430;
    --title-color: #ffc2e6;
    --off-title-color: #353430;
    --accent-color-hover: #35343066;
    --visibility-item: 0;
    --background-img: url(../images/cover-image-light.png);
  }
}

@media (min-width: 1024px) {
  .header__no-focus,
  .footer {
    --accent-color: #ff0070;
  }
}
