:root {
  --main-color: #000028;
  --accent-color: #ff0070;
  --primary-color: #f1b2ce;
  --title-color: #db00ff;
  --off-title-color: #ff0070;
  --accent-color-hover: #ff007066;
  --visibility-item: 1;
  --background-img: url(../images/cover-image-dark.png);
  --text-size: 18px;
  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --space-xs: 10px;
  --space-sm: 20px;
  --space-md: 40px;
  --space-lg: 60px;
  --space-xl: 80px;
}